<form [formGroup]="form">
    <span class="ui-float-label">
        <input id="username-input" type="text" pInputText formControlName="username" />
        <label for="username-input"> Username </label>
    </span>

    <span class="ui-float-label">
        <input id="name-input" type="text" pInputText formControlName="name" />
        <label for="name-input"> Name </label>
    </span>
    <span class="ui-float-label">
        <input id="email-input" type="text" pInputText formControlName="email" />
        <label for="email-input"> Email </label>
    </span>
    <span class="ui-float-label">
        <input id="password-input" type="password" pInputText formControlName="password" />
        <label for="password-input"> Password </label>
    </span>

    <div *ngIf="showAddBtn; then createUserBtn else updateUserBtn"></div>

    <ng-template #createUserBtn>
        <p-button [disabled]="form.invalid" *ngIf="showAddBtn" label="Add user" class="ui-button-info" (click)="saveUser()"></p-button>
    </ng-template>

    <ng-template #updateUserBtn>
        <p-button *ngIf="!showAddBtn" label="Confirm" class="ui-button-info" (click)="resetUser()"></p-button>
        <p-button *ngIf="!showAddBtn" label="Cancel" class="ui-button-info" (click)="cancelUpdate()"></p-button>
    </ng-template>

</form>

<hom-user-table [users]="users" (evenEmitter)="receiveEvent($event)"></hom-user-table>