<div>
  <h1>{{title}}</h1>
</div>
<div>
  <table class="maintable">
    <tr class="header">
      <th> ID</th>
      <th> Username</th>
      <th> Name</th>
      <th> email</th>
      <th> Password</th>
    </tr>

    <ng-container *ngFor="let item of users">
      <tr class="data">
        <td> {{item.getId()}}</td>
        <td> {{item.getUsername()}} </td>
        <td> {{item.getName()}}</td>
        <td> {{item.getEmail()}} </td>
        <td> {{item.getPassword()}} </td>
      </tr>
    </ng-container>
  </table>
</div>