<p-table [value]="professors">
    <ng-template pTemplate="header">
        <tr>
            <th> Username</th>
            <th> Name</th>
            <th> email</th>
            <th> Password</th>
            <th> Actions </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-professor>
        <tr>
            <td>{{professor.username}}</td>
            <td>{{professor.name}}</td>
            <td>{{professor.email}}</td>
            <td>{{professor.password}}</td>
            <td>
                <p-button label="Edit" (click)="editProfessor(professor)"></p-button>
                <p-button label="Del" (click)="delProfessor(professor)"></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>